/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
----------------
Custom colors
------------------

colour scheme
Rausch (pink) #F8585D
Babu (teal) #00A699
Arches (orange) #FC642D
Hof (dark gray) #484848
Foggy (light gray) #767676

PeterRiver (blue) #3498db


*/

/* 
-------------
My Customs CSS
-------------
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Source+Sans+Pro:400,600&display=swap");

body {
  background-color: #ffffff;
  color: #484848;
  font: 300 16px/22px "Source Sans Pro", "Roboto", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: normal;
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: #484848;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

input,
select,
option,
textarea {
  font: 300 16px/22px "Source Sans Pro", "Roboto", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}
/*
  ========================================
  Explore section
  ========================================
*/

/* header {
  height: 100vh;
  min-height: 680px ;
  width: 100%;
  position: relative;
} */

.seconday-font {
  font-family: "Noto serif", Geneva, Verdana, sans-serif;
}

.primay-color-text {
  color: #3498db;
}

.white-color-text {
  color: #ffffff;
}

.caps {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
}

.header-bg {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 60px repeat(10, 1fr) 60px;
  grid-template-rows: 80px 1fr;
}

.site-logo {
  order: 0;
  height: 34px;
  /* width: 34px; */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  grid-column: 1 / -1;
  height: 80px;
  padding: 24px;
  font-weight: 600;
}

.navigation li {
  display: inline-block;
  justify-content: flex-start;
  order: 1;
  margin: 0 8px;
  vertical-align: top;
}

.navigation li a {
  text-decoration: none;
  color: #484848;
  font-size: 14px;
  height: 80px;
}
.navigation li a:hover {
  padding-bottom: 24px;
  border-bottom: 2px #3498db solid;
  font-size: 14px;
}

.header-form--section {
  grid-column: 2 / span 10;
  display: grid;
  grid-template-columns: 50% 50%;
}
.header-form--section-1 {
  padding: 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

.header-form {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25);
  padding: 32px;
  padding-bottom: 24px;
  max-width: 441px;
  height: 100%;
}
.header-form__h2 {
  font-weight: bold;
  font-size: 40px;
  margin-top: 4em;
  margin-bottom: 0.5em;
}
.header-form__p {
  font-size: 20px;
  line-height: 25px;
}
.header-form label {
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.up-case {
  text-transform: uppercase;
}

.landing-pic {
  height: 80%;
  width: auto;
}

.header-form input,
.header-form select,
.header-form textarea {
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  height: 48px;
  width: 100%;
  align-items: center;
  position: relative;
}

#check-in,
#check-out {
  display: inline;
}
.header-form .button-section {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
}

.header-form--button {
  display: inline-block;
  margin: 0px;
  position: relative;
  width: auto;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  padding: 10px 22px;
  min-width: 71px;
  background: #3498db;
  border-color: transparent;
  color: #ffffff;
}

.side-text {
  text-align: right;
  padding: 24px;
  z-index: 3;
  font-weight: 600;
  grid-column: 8 / span 4;
}

/*
  ========================================
  Explore section
  ========================================
*/

main {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: repeat(5, auto);
  padding-bottom: 3em;
}

main > * {
  grid-column: 2/3;
  min-width: 0;
}

.explore {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
}

.explore-cards {
  display: flex;
  align-content: center;
  border: 1px solid #767676;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  border-color: rgba(0, 0, 0, 0.1);
}

.explore-cards > img {
  height: 72px;
  width: 96px;
}

.explore-cards > h4 {
  flex-grow: 1;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
  padding: 14px 16px 10px;
  padding: 0 20px;
  align-self: center;
}

.section-title {
  grid-column: 1/-1;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  margin-top: 12px;
  margin-bottom: 15px;
}

/*
  ========================================
  mini-hero section
  ========================================
*/

.about-section {
  background-color: #3498db;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.hero-section-h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2em;
}

.hero-section-1 {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  color: #ffffff;
  padding: 2em;
  margin-top: 2em;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.hero-section__mini-h4 {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1em;
}

.mh-bold {
  font-weight: 600;
}
.mini-hero--button-1 {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid transparent;
  padding: 10px 22px;
  width: 137px;
  height: 48px;
  background: #ffffff;
  color: #767676;
  display: block;
}
.mini-hero--button-2 {
  grid-column: 1/2;
  justify-self: start;
  align-self: end;
  background: transparent;
  color: #ffffff;
  border: none;
}

/*
  ========================================
  Places section
  ========================================
*/

.m-top-3 {
  margin-top: 3em;
}

.m-top-3 > a {
  text-decoration: none;
  color: #484848;
}

.places-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1.3em;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.places-card {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 14px;
  margin-left: 14px;
}

.places-card--image {
  display: flex;
  align-content: start;
  justify-content: start;
  padding: 1em 0em;
}

.places-card--image > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 3px;
}

.places-card--title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #484848;
  margin: 20px auto 10px;
  letter-spacing: 0.5px;
}

.places-card--details p,
.places-card--more {
  font-size: 17px;
  font-weight: 400;
  color: #484848;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  width: 100%;
}

.places-card--more {
  line-height: 16px;
  font-size: 12px;
  margin-top: 2px;
}

.places-card--details > div {
  font-size: 14px;
  line-height: 18px;
  margin-top: 4px;
}

footer {
  display: grid;
  grid-template-columns: 60px repeat(4, 1fr) 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 3em;
  padding-left: 3em;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  grid-column: 2/-2;
  padding-top: 2em;
  padding-bottom: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer-column > h3 {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
  margin-bottom: 5px;
}
.footer-column a {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
  text-decoration: none;
  margin-bottom: 4px;
}

.footer-column > ul {
  margin-bottom: 0px;
  margin-top: 16px;
  padding-left: 0px;
  list-style: none;
}
.social-icons {
  display: flex;
  margin-bottom: 4px;
}
.social-icons span {
  margin-right: 10px;
}

.footy {
  display: flex;
  justify-content: space-between;
  grid-column: 2/-2;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.footy-tagline {
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.footy-section-1 {
  display: inline-flex;
  align-self: center;
  padding: 6px 0;
}

.footy-section-2 {
  grid-column: span 2/ -1;
  display: flex;
  font-weight: 600;
  padding: 6px 0;
}

.footy-section-2 select {
  background-color: transparent;
  border: none;
  padding: 2px 2px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
}
.footy-section-2 option {
  padding: 2px 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
}

/*
  ========================================
  HOME Styles
  ========================================
*/

.h-form-label--group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  margin: 8px 0;
}

.home-form {
  display: grid;
  justify-content: end;
}

.w-100 {
  width: 100%;
}
.h-label {
  font-size: 16px !important;
  line-height: 22px !important;
  font-weight: 600 !important;
}
.h-price-tag-section {
  margin-top: 17px;
  margin-bottom: 15px;
}

.h-price-tag {
  line-height: 44px;
  font-size: 40px;
  font-weight: 800;
  display: inline-block;
}
.h-price-permonth {
  line-height: 1.2857142857142858em;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

.page-container {
  padding-left: 64px;
  padding-right: 64px;
}

.marketing-section {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.marketing-wrapper {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  width: 1048px;
}

.marketing-subsection {
  margin-top: 48px;
  margin-left: 0px;
  margin-right: 64px;
}
.marketing-header {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25em;
  color: #484848;
  padding-top: 2px;
  padding-bottom: 2px;
}
.marketing-body {
  font-size: 16px;
  font-weight: 400;
  color: #484848;
  margin-top: 16px;
}

.line {
  width: 64px;
  border: 1px solid #767676;
  margin-bottom: 24px;
}

.line-section {
  display: flex;
  justify-content: center;
}

.marketing-details {
  margin-left: 20px;
  margin-right: 20px;

  margin-bottom: 48px;
}
.marketing-details__h2 {
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -2.5px;
  font-weight: 700;
  margin-bottom: 54px;
  text-align: center;
}
.detail-svg {
  margin-bottom: 16px;
}

.marketing-subdetail {
  margin-right: 2em;
}

.marketing-details__wrapper {
  width: 1048px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
}

.marketing-subdetail__header {
  margin: 0px;
  word-wrap: break-word;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.25em;
  padding-top: 2px;
  padding-bottom: 2px;
}

.marketing-subdetail__body {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
}

.testimonal {
  margin-bottom: 48px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.testimonal-text {
  width: 100%;
}

.testimonal-text h3 {
  font-size: 32px;
  line-height: 40px;
  margin-left: 0px;
  margin-right: 64px;
}
.testimonal-text p {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  margin-bottom: 16px;
  margin-top: 16px;
}

.testimonal-quote {
  display: block;
  font-size: 100px;
  color: #fdb32b;
  font-weight: bold;
}

.testimonal-image {
  width: 100%;
}
.testimonal-image img {
  width: 516px;
  height: 516px;
}
.testimonal-btn {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 2px;
  border-style: solid;
  padding-left: 22px;
  padding-right: 22px;
  width: 15em;
  border: 2px solid #484848;
  color: #484848;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 16px;
  display: block;
}

.testimonal-btn span {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

/*
  ========================================
  Mobile Responsiveness
  ========================================
*/
@media only screen and (max-width: 768px) {
  .side-text {
    padding: 12px;
    margin: 1em 0;
    grid-column: 4 / span 8;
    color: #ffffff;
  }
  .hero-section-1 {
    padding-top: 1em;
  }
  .mini-hero h3 {
    font-size: 20px;
    line-height: 22px;
    width: 200px;
  }
}
